[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
pygments = "*"

[requires]
python_version = "3.6"
